/* 页面通用样式 */ 
* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0 40px;
    background: #000;
}
img {
    width: 200px;
    height: 150px;
}
a {
    color: #55f;
}
ol {
    list-style-position: inside;
}
.wrap {
    position: relative;
    margin: 0;
    padding: 0;
    background: #ddd;
    overflow: hidden;
}
label[for='e-mail'], label[for='psw'], label[for='psw-1'] {
    display: block;
}
/* 导航栏样式 */
header {
    padding: 10px;
    padding-left: 20px;
    background: #222;
    overflow: hidden;
}
header h1 {
    float: left;
    line-height: 100%;
    color: #fff;
}
header li {
    float: right;
    margin: 0 20px;
    line-height: 40px;
}
header li a {
    text-decoration: none;
    color: #fff;
}
/* 文章内容样式 */
.article {
    float: left;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-right: 340px;
    background: #fff;
    box-shadow: 1px 1px 2px #999;
}
.last {
    margin-bottom: 20px;
}
/* 侧边栏 */
.aside {
    position: absolute;
    width: 260px;
    top: 80px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
    background: #fff;
}
.aside h2 {
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 2px solid #999;
    color: #999;
}
.aside div {
    overflow: hidden;
    padding-bottom: 20px;
    font-size: 10px;
}
label {
    float: left;
    width: 40%;
    text-align: right;
}
input {
    width: 50%;
    text-align: right;
    line-height: 20px;
    color: #aaa;
}
input[type="checkbox"], input[type="radio"] {
    width: 7%;
}
textarea {
    width: 50%;
    height: 2.5em;
}
button {
    width: 100%;
    height: 2.5em;
    color: #fff;
    background: #2c54e6;
}
/* 图片栏 */
.image {
    float: left;
    margin: 20px 20px 0 0 ;
    text-align: center;
    border: 1px solid #999;
}
img.bef {
    width: 160px;
    height: 110px;
    margin: 20px;
}
/* 表格栏 */
table {
    text-align: left;
    border-collapse: collapse;  
    border-color: #999; 
}
th {
    color: #fff;
    background: #333;
}
td,th {
    width: 800px;
    padding-left: 4px;
}
.last-line {
    font-weight: bold;
    background: #999;
}
/* 尾部样式 */
footer {
    position: relative;
    clear: left;
    margin-top: 20px;
    padding: 20px 0;
    background: #222;
}
footer p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
